* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background: rgb(246, 251, 248);
font-family: sans-serif;
}

/* Styling for the Header */

.header {
    flex-direction: row;
    display: inline-flex;
    position:fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    /* height: 0; */
    background: rgba(254, 255, 254, 0.85);
    backdrop-filter: blur(5px);
    padding: 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.101);
    /* margin-bottom: 100px; */
    
}

.Sign-In-btn {
    margin-left:auto;
}

.logo-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.voting-icon i{
    font-size: 20px;
    color: rgb(0, 109, 56);
}

.Sign-In-btn button {
    background: rgb(0, 109, 56);
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 18px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 10px;
}

.header .logo {
    font-size: 10px;
    font-weight:lighter;
    color: rgb(0, 0, 0);
}

.Sign-In-btn button:hover {
    background-color: rgba(0, 109, 56, 0.867);
}


/* Styling for the Voter Authentication */

.main-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
gap: 20px;
padding: 20px;
margin-top: 110px;
font-size: 18px;
color: rgb(89, 87, 87);
}
@media (min-width: 768px) {
    .main-container {
      margin-top: 70px;
    }
}

.top-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
gap: 10px;
font-size: 16px;
font-weight: 500;
margin-bottom: 20px;
}

.finger-icon {
    background-color: rgba(223, 246, 233, 0.762);
    font-size: 15px;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    color: rgb(0, 109, 56);
}

.title {
font-size: 25px;
font-weight: 600;
color: #000;
margin-bottom: 10px;
}

.title-txt {
color: rgb(89, 87, 87);
font-size: 16px;
font-weight: 400;
inline-size: 100%;
line-height: 15px;
}

.info-requirement-container {
display: flex;
flex-direction: column;
gap: 20px;
background-color: rgb(255, 255, 255);
box-shadow: 0px 5px 2px rgba(171, 171, 171, 0.136);
padding: 55px 25px;
border-radius: 20px;
}

.input-info {
display: flex;
flex-direction: column;
gap: 10px;
}

.info-txt {
color: rgb(0, 0, 0);
font-size: 14px;
font-weight: bold;
}

select {
color: rgb(89, 87, 87);
padding: 10px;
border-radius: 10px;
border: 1px solid rgba(89, 87, 87, 0.248);
max-width: 150px;
cursor: pointer;
/* margin-right: 150px; */
}
select:focus {
    outline: none;
border: 3.5px solid rgb(0, 109, 56, 0.714);
box-shadow: 0px 0px 2px rgba(0, 109, 56, 0.714);
}

select option {
    border: 3px solid chocolate;
border-radius: 20px;;
}

.matric-input, .otp-input {
padding: 10px;
border-radius: 10px;
border: 0.1px solid rgba(89, 87, 87, 0.438);
font-size: 16px;
font-weight: 500;
/* max-width: 150px; */
}

.matric-input:focus, .otp-input:focus {
outline: none;
border: 3.5px solid rgb(0, 109, 56, 0.714);
box-shadow: 0px 0px 2px rgba(0, 109, 56, 0.714);
}

.input-info p {
color: rgb(89, 87, 87);
font-size: 14px;
}

.proceed-btn {
    display: inline-flex;
    flex-direction: row;
    gap: 5px;
background-color: rgb(0, 109, 56);
color: rgb(255, 255, 255);
text-align: center;
justify-content: center;
align-items: center;
cursor: pointer;
border: none;
border-radius: 10px;
padding: 10px;
font-size: 16px;
font-weight: 500;
/* max-width: 900px; */
}

.returning-back {
font-size: 14px;
padding: 10px;
color: rgb(89, 87, 87);
border-radius: 10px;
cursor: pointer;
}
.returning-back:hover {
background-color: rgba(223, 246, 233, 0.762);

}

.bottom {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
gap: 10px;
font-size: 13px;
color: rgb(89, 87, 87);
}

.bottom a {
color: rgb(0, 109, 56);
text-decoration: none;
}